@import "tailwindcss";
@import "tw-animate-css";

@layer components {
  .textShine {
    background: linear-gradient(90deg, #000 0%, #fff 50%, #000 100%);
    background-size: 200% auto;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: shine 2s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 0% center;
    }
    100% {
      background-position: 200% center;
    }
  }
  .infinite-scroll {
    display: flex;
    width: 200%;
    animation: scroll-left 20s linear infinite;
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}
